@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  display: grid;
  place-items: center;
  height: 100vh;
}

.container{
    max-width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.out{
    color: #fff;
    margin: 40px;
}

.out h1{
    padding: 20px 0;
    letter-spacing: 2px;
    line-height: 1.2;
}

.out p{
    font-size: 13px;
}

.in{
    width: 1100px;
}

.in .trial{
    background-color: hsl(247,32%,48%);
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.in .inner{
    background-color: #fff;
    border-radius: 8px;
    text-align: center;

}
.in form{
    padding: 30px;
}

.in form input{
    margin-bottom:  15px;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid rgb(192, 185, 185);
    border-radius: 3px;
}
.in form button{
    padding: 10px 20px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
}

.in .terms{
    font-size: 10px;
    margin: 12px;
    color: hsl(246, 25%, 77%);
}

.terms a {
    color: hsl(0, 100%, 74%) ;
}